@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.main-container {
    font-family: 'Patrick Hand', cursive;
    /* changed from bold to cursive to match the font */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30%;
    padding-top: 5%;
    height: 80vh;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

.chat-container {
    max-width: 80vw;
    width: 800px;
    height: 600px;
    border: 3px dashed #666;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #EAE2D6;
    overflow-y: scroll;
}

.chat-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 10px;
}

/* Estilos específicos para el logo del usuario */
.user .message-logo {
    border: 2px solid #4A90E2;
    /* Borde azul para el logo del usuario */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra suave para dar profundidad */
}

/* Estilos específicos para el logo del bot */
.ai .message-logo {
    border: 2px solid #FFD700;
    /* Borde dorado para el logo del bot */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    /* Sombra suave para resaltar */
}

.chat-message.user {
    align-self: flex-end;

    border: none;
    /* removing the dashed border for specific message */
    width: auto;
    /* to accommodate padding and logo */
}

.chat-message.ai {
    align-self: flex-start;

    border: none;
    /* removing the dashed border for specific message */
    width: auto;
    /* to accommodate padding and logo */
}



.chat-message p {
    flex: 1;
    margin: 0;
    padding: 5px 10px;
    background: #f1f1f1;
    border-radius: 15px;
    text-align: justify;
}

/* Additional styles for loading message if needed */
.loading {
    justify-content: center;
}

.chat-input-box {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.chat-input-box input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 2px dashed #666;
    font-size: 1.1em;
    outline: none;
}

.chat-input-box button {
    width: auto;
    background-color: #FEA82F;
    color: white;
    border: 2px dashed #666;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.chat-input-box button:hover {
    background-color: #ED8A00;
}