/* MenuDrop.css */

.menu-drop-container {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 80%;
    max-width: 300px;
    margin: 65% auto;
    padding: 10px;
}

.menu-drop-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 150%;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
}

.menu-drop-link:last-child {
    border-bottom: none;
}

.menu-drop-link:hover {
    background-color: #f0f0f0;
}



.man-tumbado {
    display: block;
    width: 50%;  
    position: absolute;
    top: 33.5vw;  
    left: 40vw;  
    z-index: 2;  
   
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .man-tumbado {
        width: 35%;
        top: 32.7vw;  
        left: 45%;  
    }

    .menu-drop-container {
        background-color: #f8f8f8;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        width: 80%;
        max-width: 90%;
        margin: 55% auto;
        padding: 10px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .man-tumbado {
        width: 35%;
        top: 32.7vw;  
        left: 45%;  
    }

    .menu-drop-container {
        background-color: #f8f8f8;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        width: 80%;
        max-width: 90%;
        margin: 55% auto;
        padding: 10px;
    }
}

